- @title = "RiseupVPN Beta Test"
- @nav_title = "Beta Test"
- @toc = true

%img(src="riseupvpn.svg" style="float:left")

%p
  Riseup is beta testing a new client called <b>RiseupVPN</b>. This VPN client is super easy to use! You just install it and run it&mdash;no configuration, no account registration.

%p
  This is an experiment to see if we can create a VPN service that is easy enough for everyone to use and that people will donate enough to sustain.

%p
  Please try it out and let us know what you think. Tell your friends!

%h2 Download RiseupVPN

%a.btn-download(href="linux")
  %img(src="linux.svg" width="48px")
  %b GNU/Linux

%a.btn-download(href="macos")
  %img(src="apple.svg" width="48px")
  %b macOS

%a.btn-download(href="android")
  %img(src="android.svg" width="48px")
  %b Android

%h2 Using RiseupVPN

%p
  RiseupVPN will create a system tray menu with an icon that indicates if the VPN is connected or not:

%p
  %img(src="vpn_off.png") &mdash; VPN is off.

%p
  %img(src="vpn_on.png") &mdash; VPN is on, and all traffic is securely routed through the VPN.

%p
  %img(src="vpn_blocked.png") &mdash; VPN is off, and all traffic is blocked.

%p
  %img(src="vpn_wait_0.png") &mdash; VPN is connecting, and all traffic is blocked.

%p
  To turn on or off, just click on the system tray icon and select the appropriate menu item.

%h2 Donate!

= render :page => 'vpn/donate'

%h2 Troubleshooting and support

= render :page => 'vpn/support'
