- @title = "RiseupVPN Beta Test"
- @nav_title = "Beta Test"
- @toc = true

%img(src="riseupvpn.svg" style="float:left")

%p
  Riseup is beta testing a new client called <b>RiseupVPN</b>. This VPN client is super easy to use! You just install it and run it&mdash;no configuration, no account registration.

%p
  This is an experiment to see if we can create a VPN service that is easy enough for everyone to use and that people will donate enough to sustain.

%p
  Please try it out and let us know what you think. Tell your friends!

%h2 Download RiseupVPN

%a.btn-download(href="linux")
  %img(src="linux.svg" width="48px")
  %b GNU/Linux

%a.btn-download(href="macos")
  %img(src="apple.svg" width="48px")
  %b macOS

%a.btn-download(href="android")
  %img(src="android.svg" width="48px")
  %b Android

%h2 Using RiseupVPN

%p
  RiseupVPN will create a system tray menu with an icon that indicates if the VPN is connected or not:

%p
  %img(src="vpn_off.png") &mdash; VPN is off.

%p
  %img(src="vpn_on.png") &mdash; VPN is on, and all traffic is securely routed through the VPN.

%p
  %img(src="vpn_blocked.png") &mdash; VPN is off, and all traffic is blocked.

%p
  %img(src="vpn_wait_0.png") &mdash; VPN is connecting, and all traffic is blocked.

%p
  To turn on or off, just click on the system tray icon and select the appropriate menu item.

%h2 Donate!

%p
  The RiseupVPN service is entirely funded through donations from users. If you value an easy, non-profit VPN service that does not track users, then please contribute to keeping RiseupVPN alive.

%p
  The cost for us to offer RiseupVPN is approximately $60 USD per person per year. If you use the VPN, please consider donating at least this much. Thank you!

%p
  Note: If you donate using a different page, we will not know that you are donating for the VPN. Please help us figure out if this service can be sustainable by donating using only the links on this page.

%h4 Liberapay

.donation
  %p
    Liberapay is a non-profit subscription donation and payment service based on free software.
  %p
    %a.btn.btn-default(href="https://liberapay.com/riseupvpn/")
      Subscribe

%h4 Paypal

= render :partial => 'paypal'

%h4 Bitcoin

.donation
  1F3KowUJBfvocr1H6DRvwFxfETJ18e8Dp6

%h2 Report Bugs

%p
  RiseupVPN is built using a free software program called <b>bitmask-systray</b>.

%p
  %b Step 1:
  [[Search to see => https://0xacab.org/leap/bitmask-systray/issues]] if the bug has already been reported.

%p
  %b Step 2:
  [[Register an account => https://0xacab.org/users/sign_in]] with [[0xacab.org => http://0xacab.org]] and log in.

%p
  %b Step 3:
  Create a [[new bug report or feature request => https://0xacab.org/leap/bitmask-systray/issues/new]].

