%table.table.table-striped.table-condensed
  %tr
    %th(class="col-md-2") Browser
    %th Controle de cookies
    %th Cookies de terceiros
    %th Opção de não rastrear
  %tr
    %td Firefox
    %td <b>C</b><br> Algum controle com listas de bloqueio
    %td <b>D</b><br> Habilitados por padrão
    %td <b>C-</b><br> Oferece cabeçalho "Do Not Track", desabilitado por padrão
  %tr
    %td Edge
    %td <b>?</b>
    %td <b>F</b><br>Habilitados por padrão, às vezes enviados mesmo se desabilitados
    %td <b>B</b><br>Oferece cabeçalho "Do Not Track" e "Tracking Protection Lists" (o que é habilitado por padrão?)
  %tr
    %td Chrome
    %td <b>A</b><br>Bom controle com listas de bloqueio de cookies</a>
    %td <b>F</b><br>Habilitados por padrão, às vezes enviados mesmo se desabilitados
    %td <b>D-</b><br>Péssima proteção contra rastreamento, disponível apenas opcionalmente com a extensão <a href="https://chrome.google.com/webstore/detail/hhnjdplhmcnkiecampfdgfjilccfpfoe">Keep My Opt-Outs</a>
  %tr
    %td Safari
    %td <b>?</b>
    %td <b>B+</b><br>Desabilitados por padrão, às vezes enviados mesmo se desabilitados
    %td <b>F</b><br>Sem recursos antirrastreamento
