%table.table.table-striped.table-condensed
  %tr
    %th(class="col-md-2") Browser
    %th Cookie Controls
    %th Third-party Cookies
    %th Tracking Opt-out
  %tr
    %td Firefox
    %td <b>C</b><br> Some block-list control
    %td <b>D</b><br> Enabled by default
    %td <b>C-</b><br> Only supports "Do Not Track" header, disabled by default.
  %tr
    %td Edge
    %td <b>?</b>
    %td <b>F</b><br>Enabled by default, and sometimes sent even when disabled.
    %td <b>B</b><br>Supports both the "Do Not Track" header and "Tracking Protection Lists". (what is enabled by default?)
  %tr
    %td Chrome
    %td <b>A</b><br>Good cookie block-list controls.</a>
    %td <b>F</b><br>Enabled by default, and sometimes sent even when disabled.
    %td <b>D-</b><br>Horrible anti-tracking support, only available as an optional extension called <a href="https://chrome.google.com/webstore/detail/hhnjdplhmcnkiecampfdgfjilccfpfoe">Keep My Opt-Outs</a>.
  %tr
    %td Safari
    %td <b>?</b>
    %td <b>B+</b><br>Disabled by default, but sometimes sent even when disabled.
    %td <b>F</b><br>No anti-tracking feature.
