- @title = 'Spenden für das VPN'
- @toc = false
- @this.alias = '/vpn/donate'

%p
  RiseupVPN ist ein komplett durch Spenden von Nutzern finanzierter Service. Wenn du einen benutzerfreundliche und gewinnorientierten VPN-Service wertschätzt, der nichts von seinen Benutzern trackt, hilf bitte durch deine Spende, diesen zu erhalten.

%p
  Unsere Kosten für RiseupVPN liegen jährlich bei ungefähr $60 USD (54€) pro Person. Wenn du unseren VPN-Client benutzt, spende bitte mindestens diesen Betrag.

%p
  Achtung: Wenn du über eine andere Seite spendest, werden wir nicht wissen, dass du für das VPN spendest. Um eine Übersicht zu haben, ob sich dieser Service finanzieren kann, spende bitte nur über diese Seite.
  
%h4 Liberapay

.donation
  %p
    Liberapay ist ein auf freier Software basierender non-profit Spendendienst mit Abo-Modell.
  %p
    %a.btn.btn-default(href="https://liberapay.com/riseupvpn/")
      Spenden

%h4 Paypal

= render :partial => 'paypal'

%h4 Bitcoin

.donation
  1F3KowUJBfvocr1H6DRvwFxfETJ18e8Dp6
