- @title = 'Fare una donazione per la VPN'
- @toc = false
- @this.alias = '/vpn/donate'

%p
  Il servizio RiseupVPN è finanziato interamente dalle donazioni degli utenti. Se per te un servizio no-profit e facile da usare che non traccia gli utenti ha un valore, dai un contributo per mantenere RiseupVPN in vita.

%p
  Il costo che sosteniamo per offrire RiseupVPN è di circa 60 USD l'anno per ogni persona. Se usi la VPN, prendi in considerazione di fare una donazione almeno dello stesso importo. Grazie!

%p
  Nota: nel caso tu faccia una donazione da un'altra pagina, non sapremo che stai facendo una donazione per la VPN. Aiutaci a capire se questo servizio è sostenibile facendo la donazione usando i link che si trovano su questa pagina.

%h4 Liberapay

.donation
  %p
    Liberapay è un servizio no-profit che permette di effettuare donazioni ricorrenti; i loro servizi sono basati su software libero.
  %p
    %a.btn.btn-default(href="https://liberapay.com/riseupvpn/donate")
      Abbonati

%h4 Paypal

= render :partial => 'paypal'

%h4 Bitcoin

.donation
  1F3KowUJBfvocr1H6DRvwFxfETJ18e8Dp6
