- @title = '为VPN捐赠'
- @toc = false

%p
  RiseupVPN 服务是完全由用户的捐款资助的。如果你看重一个简单的、非盈利的、不追踪用户的VPN服务，那么请为维持RiseupVPN的生命而捐款。

%p
  我们提供 RiseupVPN 的成本支出大约是每人每年 60 美元。如果你使用了 VPN 服务，请考虑至少捐献这些金额。谢谢你！

%p
  注意：如果你使用其他的捐款页面捐款，我们将不知道你是专门为了VPN捐款。为了帮助我们了解VPN项目的可持续性，只使用本页面的链接为此专项捐赠。

%h4 Liberapay

.donation
  %p
    对 RiseupVPN 的捐款可以通过信用卡或借记卡（Visa、MasterCard、American Express），或通过欧元银行账户的直接借记（仅用于欧元捐款）。我们使用 Liberapay，这是一个基于免费软件的非营利性订阅捐款和支付服务。
  %p
    %a.btn.btn-default(href="https://liberapay.com/riseupvpn/donate")
      Subscribe

%h4 Paypal

= render :partial => 'paypal'

%h4 比特币

.donation
  3LBqFZpv397VEyDeZo3oneTK1qgJ8hsqvJ

