- @fundraising = false
- if @fundraising
  %div(style="width:280px; margin: 0 auto;")
    %iframe(src="https://account.riseup.net/donations/show" height="256" width="280" frameborder="0")
- else
  = link(t(:support_riseup) => 'donate', :class => 'btn btn-default btn-lg')
