
-# label styles include: label-default, label-primary, label-success, label-info, label-warning, label-danger

.item
  .label.label-danger New Tor addresses issued
  .date 2014-04-07
  .text
    Due to a [[security vulnerability disclosed on the internet today => https://blog.torproject.org/blog/openssl-bug-cve-2014-0160/]], we had to roll our tor hidden service addresses. This means that if you were using a Tor hidden service to connect to Riseup, you will not be able to continue to use that address. Please find out the [[new hidden service address => /security/network-security/tor#riseups-tor-hidden-services]] and replace the old one you were using with the new one to continue to use Riseup's Tor hidden services!

.item
  .label.label-danger Novos certificados
  .date 2014-04-07
  .text
    Devido a uma [[vulnerabilidade de segurança descoberta hoje na internet -> http://heartbleed.com]], nós tivemos que atualizar nossos certificados. Verifique as impressões [[digitais dos nossos certificados -> /security/network-security/certificates/riseup-signed-certificate-fingerprints.txt]] e aprenda como [[verificá-los -> /security/network-security/certificates]].

.item
  .label.label-success Systems Green
  .date 2013-01-30
  .text
    Everything is good.

.item
  .label.label-warning Brief Outage
  .date 2013-11-16
  .text
    The will be a brief outage for all services tonight (Fri Nov 15) at 11pm PST for a scheduled power outage.
