-# label styles include: label-default, label-primary, label-success, label-info, label-warning, label-danger

.item
  .label.label-default riseup has a new webmail!
  .date 2014-08-07
  .text
    We are transitioning to a new webmail, [[roundcube -> https://roundcube.net]]! And now, all riseup services now use ciphers with [[forward secrecy -> https://en.wikipedia.org/wiki/Forward_secrecy]].

.item
  .label.label-default Brief outages for power maintenance starting at 7pm PDT
  .date 2014-06-06
  .text
    This evening June 6th starting at 7pm PDT there will be several outages of all Riseup services due to power maintenance.

.item
  .label.label-danger New Tor addresses issued
  .date 2014-04-07
  .text
    Due to a [[security vulnerability disclosed on the internet today => https://blog.torproject.org/blog/openssl-bug-cve-2014-0160/]], we had to roll our tor hidden service addresses. This means that if you were using a Tor hidden service to connect to Riseup, you will not be able to continue to use that address. Please find out the [[new hidden service address => /security/network-security/tor#riseups-tor-hidden-services]] and replace the old one you were using with the new one to continue to use Riseup's Tor hidden services!

.item
  .label.label-danger New certificates issued
  .date 2014-04-07
  .text
    Due due to a [[severe and widespread security vulnerability disclosed on the internet today -> http://heartbleed.com]], we had to update our TLS certificates. Check out our [[new certificate fingerprints -> /security/network-security/certificates/riseup-signed-certificate-fingerprints.txt]] and learn how to [[verify them -> /security/network-security/certificates]].

.item
  .label.label-success Systems Green
  .date 2014-01-30
  .text
    Everything is good.

.item
  .label.label-warning Brief Outage
  .date 2013-11-16
  .text
    The will be a brief outage for all services tonight (Fri Nov 15) at 11pm PST for a scheduled power outage.
