-# label styles include: label-default, label-primary, label-success, label-info, label-warning, label-danger
.item
  .label.label-success Minor Terms of Service update
  .date 2020-06-12
  .text
    We made a small change to our [[Terms of Service->about-us/policy/tos]] to explicitly indicate that usernames are included in the antiharassment definition.
.item
  .label.label-success Winter fundraising campaign
  .date 2020-01-27
  .text
    It's Riseup's twentieth year, help keep us going! We need your support to support each other. Please contribute to our [[winter fundraising drive->https://riseup.net/donate]].
.item
  .label.label-success Happy #N30!
  .date 2019-11-30
  .text
    Happy N30 from your friendly autonomous tech collective, running servers for justice since 1999. Much love to all in the streets & behind the screens fighting for a better world. [[Donate to keep Riseup working hard->/donate]] for you and movements globally.
.item
  .label.label-success Certificate update
  .date 2019-10-05
  .text
    The *.riseup.net, riseup.net [[certificates were updated->security/network-security/certificates/riseup-signed-certificate-fingerprints.txt]]. If you are pinning cert fingerprints, this will be the last time these certs and signed fingerprints will be updated.
.item
  .label.label-success Un grand merci à SQiL for a successful translation event!
  .date 2019-09-26
  .text
    Last night several wonderful volunteers came to the [[SQiL->https://agendadulibre.qc.ca/events/2023]] event to work on translating our help pages to french. Several pages were translated, updated, and fixes made, thanks to SQiL for a second year of help! Our help pages are an excellent resource to learn more about online security, [[anyone can help improve them -> https://github.com/riseupnet/riseup_help]]!
.item
  .label.label-success Mic check!
  .date 2019-09-17
  .text
    All systems are green.
