-# label styles include: label-default, label-primary, label-success, label-info, label-warning, label-danger

.item
  .label.label-success Happy #N30!
  .date 2019-11-30
  .text
    Happy N30 from your friendly autonomous tech collective, running servers for justice since 1999. Much love to all in the streets & behind the screens fighting for a better world. [[Donate to keep Riseup working hard->/donate]] for you and movements globally.
.item
  .label.label-success Certificate update
  .date 2019-10-05
  .text
    The *.riseup.net, riseup.net [[certificates were updated->security/network-security/certificates/riseup-signed-certificate-fingerprints.txt]]. If you are pinning cert fingerprints, this will be the last time these certs and signed fingerprints will be updated.
.item
  .label.label-success Un grand merci à SQiL for a successful translation event!
  .date 2019-09-26
  .text
    Last night several wonderful volunteers came to the [[SQiL->https://agendadulibre.qc.ca/events/2023]] event to work on translating our help pages to french. Several pages were translated, updated, and fixes made, thanks to SQiL for a second year of help! Our help pages are an excellent resource to learn more about online security, [[anyone can help improve them -> https://github.com/riseupnet/riseup_help]]!
.item
  .label.label-success Mic check!
  .date 2019-09-17
  .text
    All systems are green.
.item
  .label.label-danger Fishing for Riseup: Bavarian Police raids
  .date 2018-07-04
  .text
    Bavarian police raids in search of Riseup accounts. [[What you need to know->about-us/press/zwiebelfreunde]]
.item
  .label.label-success Happy 20th Birthday Sympa!
  .date 2017-03-21
  .text
    Sympa, the software that makes 20k lists at [[https://lists.riseup.net]]  possible, is turning 20 years old! There will be a hackathon on April 1,2 to celebrate, see [[https://www.sympa.org]] for more details.
.item
  .label.label-warning Updates to legacy VPN
  .date 2017-03-02
  .text
    Attention VPN Red users: we just updated to modern crypto settings which will require client configuration changes. Please review the [[updated help pages->vpn-red]], and adjust your settings. Bitmask (aka "VPN Black") users are unaffected.
.item
  .label.label-danger We have moved to encrypted email storage!
  .date 2017-02-16
  .text
    Starting today, as a response to recent [[legal requests->about-us/press/canary-statement]], all new Riseup email accounts will feature personally encrypted storage on our servers, only accessible by you. In the near future, we will begin to migrate all existing accounts to use this new system.
.item
  .label.label-warning help us stabilize!
  .date 2016-09-07
  .text
    Due to your amazing support, you bought us time until our yearly fundraiser rolls around. However, if you can setup a regular, monthly contribution, even of $1USD, it would help us immensely! Its tiny, but if enough people do it, it will add up, and maybe we can get rid of these annoying requests for money all the time.
.item
  .label.label-danger riseup needs help!
  .date 2016-09-06
  .text
    We are in a financial crisis and need your support! That's why we launched our $1 campaign, where we're asking every riseup user to give us just $1 a month! You can help [[here-->/donate]].
.item
  .label.label-warning Mail may be rejected if you do not use our SMTP server!
  .date 2016-04-04
  .text
    When you send mail from your riseup email account, you need to make sure you are sending it [[through the riseup SMTP server->/email/settings/smtp#how-do-i-configure-smtp]], or they will possibly be rejected by the remote server.

.item
  .label.label-danger Upstream power maintenance on Saturday March 12, from 7am - 3pm PT
  .date 2016-03-10
  .text
    Our upstream is doing some major power work during this time and ALL riseup services will be down intermittently for several hours throughout the day. But don't worry, there's a whole world out there away from the internet!

.item
  .label.label-danger New red VPN CA certificate
  .date 2016-01-04
  .text
    The Riseup CA certificate used by the red VPN has been updated, red VPN users will need to [[verify and update->riseup-ca]]. Other services, including black VPN, do not require updates.

.item
  .label.label-danger New certificates
  .date 2015-10-15
  .text
    We have new certificates, [[be sure to verify the new ones!->certificates]]

.item
  .label.label-success pad.riseup.net is back! (honest)
  .date 2015-05-20
  .text
    OK, pad.riseup.net is back for reals this time, now with 90% fewer crashes. Sorry for the long down time.

.item
  .label.label-warning pad.riseup.net is down for maintenance
  .date 2015-05-20
  .text
    We're working hard to bring it back up. Thanks for your patience.

.item
  .label.label-success pad.riseup.net working again
  .date 2015-05-16
  .text
    pad.riseup.net died for a while do to a corrupt database. It should be in working order. However, at least one group had their pad contents get mangled. Sorry!

.item
  .label.label-success Systems green
  .date 2015-04-18
  .text

.item
  .label.label-danger Upstream power work will cause service disruptions
  .date 2015-04-17
  .text
    Our upstream is performing power maintenance work tonight, April 17, starting at 19h PDT and continuing until Saturday, April 18 at 10h PDT. This will cause brief service interruptions when the power is switched over at the beginning and end of the work, hopefully no more than a few minutes on either end of the work. All mail will be delivered. Thanks for your patience.

.item
  .label.label-success Systems green!
  .date 2015-01-28
  .text

.item
  .label.label-warning Lists are delayed due to maintenance
  .date 2015-01-27
  .text
    Our list machine is presently undergoing some required maintenance. Never fear! You can still send your lists mail and it will wait in the queue and will be processed as soon as we finish our work. No need to resend anything.

.item
  .label.label-success Security is not a crime!
  .date 2015-01-06
  .text
    We reject the implication from the Spanish state that using email with proper security measures is evidence of criminal activity. Here's our [[statement -> /about-us/press/security-not-a-crime]] about recent arrests in Spain.

.item
  .label.label-success We updated our canary statement.
  .date 2015-01-02
  .text
    Our [[canary statement -> /about-us/canary]] received its normal quarterly update.

.item
  .label.label-success New certificates deployed!
  .date 2014-10-15
  .text
    In our seemingly continous saga to improve security for our users, we updated our certificates today to phase out some older crypto. Now we are using SHA256 and 4096bit certificates, this may result in very old clients (Windows XP SP2, Android 2.2) to no longer work. Unfortunately, we cannot continue to support those and ask that you upgrade. Check out our [[new certificate fingerprints -> /security/network-security/certificates/riseup-signed-certificate-fingerprints.txt]] and learn how to [[verify them -> /security/network-security/certificates]].

.item
  .label.label-success SSLv3 disabled due to Poodle vulnerability
  .date 2014-10-15
  .text
    Due to a [[security vulnerability disclosed on the internet => https://www.pcworld.com/article/2834015/security-experts-warn-of-poodle-attack-against-ssl-30.html]], we have disabled the SSLv3 protocol on our servers. If you are suddenly having difficulty logging in, please take a moment to look to see if there is a newer version of the software you are using to connect to Riseup. Only very old, and otherwise vulnerable software, will fail to connect with SSLv3 disabled.

.item
  .label.label-success lists back up and delivering.
  .date 2014-08-10
  .text
    The list machine has not been delivering mail since the power outage. We just brought it up and mail is zipping out, but please be patient for the machine to catch up. Thanks.

.item
  .label.label-danger riseup systems are down due to power work.
  .date 2014-08-09
  .text
    Our upstream host did some power work last night that knocked us offline, and some more this morning. The power work is now over and we're working on bringing stuff back up. We hope to have everything back up and running soon. Saturdays are great days to get off the internet! Thanks for your patience.

.item
  .label.label-success riseup has a new webmail!
  .date 2014-08-07
  .text
    We have deployed a new webmail, [[roundcube -> https://roundcube.net]]! If you are having trouble checking your email, please check to make sure that you are pointing your email client to mail.riseup.net and not to fulvetta.r.n or fruiteater.r.n.

.item
  .label.label-default Brief outages for power maintenance starting at 7pm PDT
  .date 2014-06-06
  .text
    This evening June 6th starting at 7pm PDT there will be several outages of all Riseup services due to power maintenance.

.item
  .label.label-danger New Tor addresses issued
  .date 2014-04-07
  .text
    Due to a [[security vulnerability disclosed on the internet today => https://blog.torproject.org/blog/openssl-bug-cve-2014-0160/]], we had to roll our tor hidden service addresses. This means that if you were using a Tor hidden service to connect to Riseup, you will not be able to continue to use that address. Please find out the [[new hidden service address => /security/network-security/tor#riseups-tor-hidden-services]] and replace the old one you were using with the new one to continue to use Riseup's Tor hidden services!

.item
  .label.label-danger New certificates issued
  .date 2014-04-07
  .text
    Due due to a [[severe and widespread security vulnerability disclosed on the internet today -> http://heartbleed.com]], we had to update our TLS certificates. Check out our [[new certificate fingerprints -> /security/network-security/certificates/riseup-signed-certificate-fingerprints.txt]] and learn how to [[verify them -> /security/network-security/certificates]].

.item
  .label.label-success Systems Green
  .date 2014-01-30
  .text
    Everything is good.

.item
  .label.label-warning Brief Outage
  .date 2013-11-16
  .text
    The will be a brief outage for all services tonight (Fri Nov 15) at 11pm PST for a scheduled power outage.
