-# label styles include: label-default, label-primary, label-success, label-info, label-warning, label-danger

.item
  .label.label-success Systems Green
  .date 2013-01-30
  .text
    Everything is good.

.item
  .label.label-warning Brief Outage
  .date 2013-11-16
  .text
    The will be a brief outage for all services tonight (Fri Nov 15) at 11pm PST for a scheduled power outage.
