- @title = 'Dons pour le VPN'
- @toc = false
- @this.alias = '/vpn/donate'

%p
  Le service RiseupVPN est entièrement financé par les dons des utilisatrices et des utilisateurs. Si vous appréciez ce service de VPN facile d'utilisation, à but non lucratif et qui n'espionne personne, merci de faire un don pour garder RiseupVPN en vie.

%p
  Notre coût pour offrir RiseupVPN est d'environ 60$ USD par personne par année. Si vous utilisez le VPN, nous vous demandons de considérer un don au moins aussi grand. Merci!

%p
  Veuillez noter: si vous faites un don à partir d'une page différente, nous ne pourrons pas savoir que c'est un don pour le VPN. Aidez-nous à savoir si ce service peut être maintenu en vie en donnant pour le VPN exclusivement sur cette page.

%h4 Liberapay

.donation
  %p
    Liberpay est une organisation à but non lucratif qui permet de faire des dons récurrents. Leurs services utilisent des logiciels libres.
  %p
    %a.btn.btn-default(href="https://liberapay.com/riseupvpn/")
      Abonnez-vous

%h4 Paypal

= render :partial => 'paypal'

%h4 Bitcoin

.donation
  1F3KowUJBfvocr1H6DRvwFxfETJ18e8Dp6
