- @title = 'Doe para a VPN'
- @toc = false
- @this.alias = '/vpn/donate'

%p
	A RiseupVPN é inteiramente financiada por doações da comunidade. Se você acredita na importância de um serviço de VPN que seja fácil de usar, não tenha fins lucrativos e não rastreie quem o utiliza, por favor, contribua e ajude a manter a RiseupVPN viva.

%p
	Oferecer a RiseupVPN custa, para nós, aproximadamente US$ 60 por pessoa, por ano. Se você usa a VPN, por favor, considere doar pelo menos essa quantia. Nós agradecemos!

%p
	Atenção: Se você doar usando outra página, não saberemos que a contribuição é para a VPN. Ajude-nos a descobrir se este serviço pode ser sustentável doando apenas pelos links disponíveis nesta página.

%h4 Liberapay

.donation
	%p
		Liberapay é um serviço de doação e pagamento por assinatura, sem fins lucrativos, baseado em software livre.
	%p
		%a.btn.btn-default(href="https://liberapay.com/riseupvpn/")
			Inscreva-se

%h4 Paypal

= render :partial => 'paypal'

%h4 Bitcoin

.donation
	1F3KowUJBfvocr1H6DRvwFxfETJ18e8Dp6
