
//
// TYPOGRAPHY
//

//a {
//  color: $link-color;
//}
//a:visited {
//  color: $link-visited-color;
//}
//a.btn {
//  color: white;
//}

.content-box h1:first-child, .content-box h2:first-child {
  margin-top: 0px !important;
}

h2.hidey {
  font-size: 0;
  position: absolute;
  z-index: -1000;
}

.indent {
  margin-left: 2em;
}

//
// DESIGN ELEMENTS
//

.donation {
  border: 1px solid #FFE8A9;
  padding:0.5em;
  background-color: #FFF6DD;
  overflow: auto;
}

.locale-links a {
  color: $link-color;
  &:hover {
    color: $link-color !important;
    text-decoration: underline;
  }
  &.label-primary {
    color: white !important;
  }
}

.btn-download {
  font-size: 150%;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 14px;
  display: inline-block;
  background-color: $title-background-color;
  margin: 0px 10px 10px 0px;
  color: #555;
  &:hover {
    color: black;
    background-color: #ddd;
    text-decoration: none;
  }
  &:visited {
    color: #555;
  }
}

div.page-summary {
  .summary {
    margin: 4px 0;
  }
  margin-top: 20px;
}

//
// UTILITY
//

.image-right {
  margin-left: $gutter;
  margin-bottom: $gutter;
}


//
// FRONT PAGE
//

.logo {
  min-height: 87px;
  padding-left: 280px;
  padding-top: 10px;
  background: url(images/riseup-rainbow.png) no-repeat;
}
@media only screen and (max-width: 590px) {
  .logo {
     padding-left: 94px;
     padding-top: 65px;
  }
}

.feed {
  border: 1px dotted #ccc;

  .item {
    border-top: 1px dotted #ccc;
    padding: $gutter;
    .label {
      font-size: 1em;
      white-space: normal !important;
      display: block;
      text-align: left;
      padding: 6px;
      line-height: 1.3em;
    }
    .date {
      font-style: italic;
      line-height: 2em;
    }
    .text {

    }
  }

  h2 {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: $gutter;
    margin: 0;
    background: #f9f9f9;
  }
}

h1.green, h1.red, h1.black {
  line-height: 48px;
  height: 48px;
  padding-left: 56px;
  margin-top: 30px;
}
h1.green { background: url(/assets/images/riseup-green.png) no-repeat; }
h1.black { background: url(/assets/images/riseup-black.png) no-repeat; }
h1.red   { background: url(/assets/images/riseup-red.png) no-repeat; }

.badge-danger { color: #fff; background-color: #dc3545; }
.badge-warning { color: #212529; background-color: #ffc107; }
.badge-info { color: #fff; background-color: #17a2b8; }
