// note: css paths are always relative to the css file

$masthead-image: image-url("riseup/murder-of-crows-with-text.svg");
$masthead-logo: image-url("riseup/riseup.net.svg");
$masthead-background-color: #5e9ee3;
$masthead-height: 110px;
$gutter: 15px;
$background-color: #e6e3dc;
$menu-shadow-size: 1px;
$menu-shadow-blur: 2px;
$menu-shadow-color: #fff;
$content-border-color: #ccc;
$content-background-color: #fff;
$title-background-color: #efefef;
$footer-height: 120px;
$footer-gutter: 20px;
$footer-background-color: #666;
$footer-color: #ddd;
$footer-border-width: 1px;
$footer-border-color: darken($footer-background-color, 10%);
$navigation-item-active-background-color: #CCC9C4;
$navigation-item-active-color: #000;
$navigation-item-background-color: #eee;
$navigation-item-color: #666;
$navigation-border-color: #bbb;
$link-color: darken($masthead-background-color, 15%);
$link-visited-color: darken($masthead-background-color, 25%);



@import "layout";
@import "riseup";
@import "riseup-nav";
