%meta{:name => "description", :content => description}

%meta{:property => "og:title", :content => @page.nav_title + ' - ' + @site.title}
%meta{:property => "og:type", :content => "website"}
%meta{:property => "og:url", :content => "https://riseup.net" + amber_path(@page)}
%meta{:property => "og:image", :content => "https://riseup.net/about-us/images/riseup.net-inline.svg"}
%meta{:property => "og:description", :content => description}

%meta{:name => "twitter:card", :content => "summary_large_image"}
%meta{:name => "twitter:site", :content => "@riseupnet"}
%meta{:name => "twitter:title", :content => @page.nav_title + ' - ' + @site.title}
%meta{:name => "twitter:image", :content => "https://riseup.net/about-us/images/riseup.net-inline.svg"}
%meta{:name => "twitter:description", :content => description}
