- url = "https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms&hl=" + locals[:locale].to_s
%a.btn-download(href = url)
  %img(src="/assets/images/android.svg" width="48px")
  %b Android
