- @title = "Inici"
- @this.summary = "Riseup proporciona eines de comunicació online per a persones i grups que treballen per un canvi social d'alliberació. Sóm un projecte per crear alternatives democràtiques i exercir l'autogestió mitjaçant el control dels nostres propis medis de comunicació."

= render 'accounts'
