- @title = "Inici"
- @this.summary = "Riseup proporciona eines de comunicació en línia per a persones i grups que treballen en un canvi social d'alliberació. Som un projecte per crear alternatives democràtiques i exercir l'autodeterminació controlant els nostres propis mitjans de comunicació segurs."

= render 'accounts'
