- @title = 'Home'
- @this.layout = 'home'
- @this.toc = false
- @this.summary = 'Riseup provides online communication tools for people and groups working on liberatory social change. We are a project to create democratic alternatives and practice self-determination by controlling our own secure means of communications.'

= render 'accounts'