- @title = "Home"
- @this.summary = "Riseup proporciona herramientas de comunicaci칩n online para gente y grupos que trabajan en un cambio social libertario. Somos un proyecto para crear alternativas democr치ticas y ejercer la autogesti칩n mediante el control de nuestro propios medios de comunicaci칩n."

= render 'accounts'