- @title = "RiseupVPN"
- @nav_title = "VPN"
- @toc = true

%img(src="/vpn/riseupvpn.svg" style="float:left")

%p
	O Riseup está testando a versão beta de um novo cliente chamado <b>RiseupVPN</b>. É um cliente de VPN superfácil de usar! Basta instalá-lo e executá-lo &mdash; sem necessidade de configurar nada, nem de registrar nenhuma conta.

%p
	Trata-se de um experimento para descobrir se podemos criar um serviço de VPN simples, que qualquer pessoa possa usar, e se receberemos doações suficientes para mantê-lo.
	
%p
	Vamos lá, experimente e nos diga o que achou. Espalhe a novidade!

%h2 Baixe a RiseupVPN

%a.btn-download(href="linux")
	%img(src="/vpn/linux.svg" width="48px")
	%b GNU/Linux

%a.btn-download(href="macos")
	%img(src="/vpn/apple.svg" width="48px")
	%b macOS

%a.btn-download(href="windows")
	%img(src="/vpn/windows.svg" width="48px")
	%b windows

%a.btn-download(href="android")
	%img(src="/vpn/android.svg" width="48px")
	%b Android

%h2 Usando a RiseupVPN

%p
	A RiseupVPN cria um menu na bandeja do sistema com um ícone que indica se a VPN está conectada ou não:

%p
	%img(src="/vpn/vpn_off.png") &mdash; a VPN está desligada.

%p
	%img(src="/vpn/vpn_on.png") &mdash; a VPN está ligada, e todo o tráfego está sendo roteado com segurança por ela.

%p
	%img(src="/vpn/vpn_blocked.png") &mdash; a VPN está desligada, e todo o tráfego está bloqueado.

%p
	%img(src="/vpn/vpn_wait_0.png") &mdash; a VPN está se conectando, e todo o tráfego está bloqueado.

%p
	Para ligar e desligar, clique no ícone da bandeja e selecione a opção desejada.

%h2 Doe!

= render :page => 'vpn/donate'

%h2 Resolução de problemas e suporte

= render :page => 'vpn/support'
